<% layout('/layouts/boilerplate') -%>

<div class="row">
    <h3 class="col-6 offset-4 mt-2">Login for on WanderLust</h3>
    <div class="col-6 offset-3 mt-2 mt-2">
        <form action="/login" method="POST" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="username" class="form-lable" >Username:</label> 
                <input type="text" name="username" id="username" class="form-control" required />
            </div>
            <div class="mb-3">
                <label for="password" class="form-lable" >Enter a Password:</label> 
                <input type="password" name="password" id="password" class="form-control" required />
            </div>
            <a href="">Signup</a>
            <button class="btn btn-success">Login</button>
        </form>
    </div>
</div>