<% layout('/layouts/boilerplate') -%>

<div class="row">
    <h3 class="col-6 offset-4 mt-2">Signup for on WanderLust</h3>
    <div class="col-6 offset-3 mt-2 mt-2">
        <form action="/signup" method="POST" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="username" class="form-lable" >Username:</label> 
                <input type="text" name="username" id="username" class="form-control" required />
                <div class="valid-feedback">
                    Looks good!
                  </div>  
                  <div class="invalid-feedback">
                    Please Enter a valid Username
                  </div>  
            </div>
            <div class="mb-3">
                <label for="email" class="form-lable" >Enter you'r email:</label> 
                <input type="email" name="email" id="email" class="form-control" required />
                  <div class="invalid-feedback">
                    Please Enter a valid email
                  </div>  
            </div>
            <div class="mb-3">
                <label for="password" class="form-lable" >Enter a Password:</label> 
                <input type="password" name="password" id="password" class="form-control" required />
                  <div class="invalid-feedback">
                    Please Enter a valid password
                  </div>  
            </div>
            <button class="btn btn-success"> Signup</button>
        </form>
    </div>
</div>